<?xml version="1.0"?>
<config>
    <modules>
        <LF_Expedia>
            <version>0</version>
        </LF_Expedia>
    </modules>
    <global>
        <models>
            <expedia>
                <class>LF_Expedia_Model</class>
            </expedia>
        </models>
    </global>
</config>
